.selects .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 740px) {
    .selects .container {
        grid-template-columns: 1fr;
    }
}



.selects-location .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}