
.weatherApp {
  width: 100%;
  height: fit-content;
  position: relative;
  background: linear-gradient(to bottom, #0066cc 0%, #0099ff 100%);
  
}
#weather {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  z-index: -1;
  
}
.weatherApp:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.weatherApp .search {
  text-align: center;
  padding: 1rem;
}

.weatherApp input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  color: #201e1e;
}

::placeholder {
  color: black;
}

.containerr {
  max-width: 500px;
  height: 300px;
  margin: auto;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weatherApp .topp {
  width: 100%;
  margin: 1rem auto;
}

.weatherApp .description {
  position: relative;
  transform-origin: 0 0;
}

.weatherApp .base {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}






@media screen and (max-width: 940px) {
    .containerr{
        max-width: 746px;

    }
    .weatherApp .search {
        text-align: center;
        padding: 1rem;
      }
      h1 {
        font-size: 2.5rem;
        text-align: center;
        
        
    }
    
    h3{
        font-size: 1.5rem;
        text-align: center;
    }
}